/*  your css code here. If applicable */
a{
text-decoration:none;	
}
li{
 list-style:none; 
}
body{
	background:#cccccc;
}
.player_one{
	background:rgb(255, 255, 255);
}
.player_two{
background:rgb(255, 255, 255);
	 
}